<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
  </appSettings>
  <connectionStrings>
    <add name="BiosMessengerContext" connectionString="Data Source=DESKTOP-D4E3SAN\SQLSERVER2022;Initial Catalog=BiosMessenger;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
      <namespaces>
        <add namespace="ModeloEF" />
        <add namespace="ModeloEF.Services" />
        <add namespace="ModeloEF.Entities" />
      </namespaces>
    </pages>
  </system.web>
</configuration>
